<launch>

  <!-- 迷你机器人，基础参数 -->
  <arg name="robot_name" default="tianbot_mini" />
  <arg name="scan_topic" default="scan" />
  <arg name="odom_topic" default="odom" />
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="map_topic" default="map" />

  <!-- TF坐标变换，基础参数 -->
  <arg name="laser_frame_id" default="$(arg robot_name)/laser" />
  <arg name="global_frame_id" default="$(arg robot_name)/map" />
  <arg name="base_frame_id" default="$(arg robot_name)/base_link" />
  <arg name="odom_frame_id" default="$(arg robot_name)/odom" />
  <group ns="$(arg robot_name)">
    <!-- Gmapping建图算法，接收传感器数据建立地图 -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" clear_params="true">
      <param name="map_frame" value="$(arg global_frame_id)" />
      <param name="odom_frame" value="$(arg odom_frame_id)" />
      <param name="base_frame" value="$(arg base_frame_id)" />
      <param name="map_update_interval" value="0.80" />
      <!-- Set maxUrange < actual maximum range of the Laser -->
      <param name="maxRange" value="3.25" />
      <param name="maxUrange" value="3.0" />
      <param name="sigma" value="0.05" />
      <param name="kernelSize" value="1" />
      <param name="lstep" value="0.05" />
      <param name="astep" value="0.05" />
      <param name="iterations" value="5" />
      <param name="lsigma" value="0.075" />
      <param name="ogain" value="3.0" />
      <param name="lskip" value="0" />
      <param name="srr" value="0.01" />
      <param name="srt" value="0.02" />
      <param name="str" value="0.01" />
      <param name="stt" value="0.02" />
      <param name="linearUpdate" value="0.5" />
      <param name="angularUpdate" value="0.157" />
      <param name="temporalUpdate" value="-1.0" />
      <param name="resampleThreshold" value="0.5" />
      <param name="particles" value="80" />
      <!--
      <param name="xmin" value="-50.0"/>
      <param name="ymin" value="-50.0"/>
      <param name="xmax" value="50.0"/>
      <param name="ymax" value="50.0"/>
    make the starting size small for the benefit of the Android client's memory...
    -->
      <param name="xmin" value="-1.0" />
      <param name="ymin" value="-1.0" />
      <param name="xmax" value="1.0" />
      <param name="ymax" value="1.0" />

      <param name="delta" value="0.025" />
      <param name="llsamplerange" value="0.01" />
      <param name="llsamplestep" value="0.01" />
      <param name="lasamplerange" value="0.005" />
      <param name="lasamplestep" value="0.005" />
      <remap from="scan" to="$(arg scan_topic)" />
      <remap from="map" to="$(arg map_topic)" />
    </node>

    <!-- MoveBase路径规矩算法(TEB规划器)，控制机器人进行导航 -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <rosparam file="$(find tianbot_mini)/config/teb/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find tianbot_mini)/config/teb/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find tianbot_mini)/config/teb/diff_drive/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find tianbot_mini)/config/teb/diff_drive/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find tianbot_mini)/config/teb/diff_drive/teb_local_planner_params.yaml" command="load" />

      <!-- set up planner -->
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

      <!-- reset frame_id parameters using user input data -->
      <param name="global_costmap/global_frame" value="$(arg global_frame_id)" />
      <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)" />
      <param name="local_costmap/global_frame" value="$(arg odom_frame_id)" />
      <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)" />
      <!-- <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)" /> -->
      <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
      <remap from="odom" to="$(arg odom_topic)" />
      <remap from="scan" to="$(arg scan_topic)" />
      <remap from="map" to="$(arg map_topic)" />
    </node>

    <!-- RVIZ可视化调试工具 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tianbot_mini)/rviz/gmapping_teb.rviz" >
      <remap from="/move_base_simple/goal" to="move_base_simple/goal"/>
      <remap from="/initialpose" to="initialpose"/>
    </node>
  </group>
</launch>
