<launch>
  <arg name="robot_name" default="tianbot_mini" />

  <!-- 迷你机器人模型 -->
  <include file="$(find tianbot_mini)/launch/includes/model.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tianbot_mini)/urdf.rviz -f $(arg robot_name)/base_link" />
</launch>
